.pill {
  padding-top: .125rem;
    padding-bottom: .125rem;
    padding-left: .75rem;
    padding-right: .75rem;
    font-weight: 500;
    align-items: center;
  border-radius: 9999px;
  background-color: rgba(224,231,255);
  font-size: .875rem;
  color: rgba(55,48,163);
}
